.Button {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #c77e19;
  color: #f7b10a !important;
  text-transform: uppercase;
  padding: 0.9rem 2.5rem 0.7rem 2.5rem;
  line-height: 1.5em;
  text-align: center;
  outline: none !important;
  display: inline-block;
  text-decoration: none !important;
  transition: background 0.2s, color 0.2s;
  box-shadow: rgba(0, 0, 0, .7) 0 0 1px 1px;

  &.Primary {
    background: rgba(159,22,0,.6);
    border-color: #ea3012;
  }

  &:hover {
    background: #b06601;
    color: #ffd36b;
    &.Primary {
      background: #9f1600;
    }
  }

  &:active {
    background: #8a5000;
    &.Primary {
      background: #7a1100;
    }
  }
}
